<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <style>
        .validation {
            color : red;
        }
    </style>
</head>
<body>
    <h1>Welcome</h1>
    <th:block th:if="${ingredient != null}">
        <form method="POST" action="/design" th:object="${ingredient}">
        <span class="validation" th:if="${#fields.hasErrors('id')}"
              th:errors="*{id}" ></span>

            <input type="text" th:field="*{id}">

            <span class="validation" th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}"></span>

            <input type="text" th:field="*{name}">
            <span class="validation" th:if="${#fields.hasErrors('type')}"
                  th:errors="*{type}"></span>

            <select th:field="*{type}">
                <option th:each="pizza : ${T(sia.demo.domain.IngredientType).values()}"
                        th:value="${pizza}"
                        th:text="${pizza}">pizza
                </option>
            </select>
            <button>수정</button>
        </form>
    </th:block>
    <th:block th:if="${ingredients != null}">
        <table>
            <tr>
                <td>아이디</td><td>이름</td><td>타입</td>
            </tr>
            <tr th:each="item : ${ingredients}" th:object="${item}">
                <td th:text="*{id}">아이디</td><td th:text="*{name}">이름</td><td th:text="*{type}">타입</td>
            </tr>
        </table>
    </th:block>
</body>
</html>